.navbar {
  background: linear-gradient(#f5a851 ,#cc54fc, #23d2d8);
}

.navbar-brand {
  font-family: 'Cabin Sketch', cursive;
}

nav.navbar.navbar-default {
    margin-bottom: 0;
  }

.navbar-item, .nav-item {
  padding-top: 5px;
}